*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Structure */

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #252422;
    }
    body{
        font-family: 'Raleway', sans-serif;
    }
    /* Nav */
    header{
        top: 0;
        right: 0;
        background-color: #06070e;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4em;
    }
    #logo{
        color:white;
        margin-right: auto;
        margin-left: 1.2em;
    }
    #fakelogo{
        visibility: hidden;
        margin-left: auto;
    }
    .nav-link{
        margin:1.2em;
        font-size: 1.3em;
        text-decoration: none;
        color: aliceblue;
        scroll-behavior: smooth;
    }

    /* Animation in JS?????
    .nav-link:hover{

    }
    */
    footer{
        background-color: #06070e;
        color: white;
        text-align: center;
        bottom: 0;
        left: 0;
        padding: 1.2em;
    }


    /* Section*/
    
    section{
        margin: 2.5% 2.5em;
        font-size: 1.25em;
        border-radius: 25px;
    }
    .bio-text, section h3{
        padding: 2%;
    }
    .secHead{
        font-size: 2em;
        color: white;
        text-decoration: underline #FFBF00;
    }
    #introJ{
        overflow: hidden;
    }
    .intro-container{
        display: flex;
        flex-direction: row;
        border-radius: 25px;
    }
    .bio-right{
        flex: 50%;
        background-color: black;
    }
    .bio-left{
        flex: 50%;
        background-color: black;
        color: white;
        /* background-image: linear-gradient(to right, #695280, #5c0ac7); */
    }
    #goalsJ{
        background-color: black;
    }
    #professionalJ{
        overflow: hidden;
    }
    .proWrap{
        border-radius: 25px;
        background-color: black;
        color: white;
    }
    .resume{
        text-align: center;
        padding: 2%;
    }
    
    /* Items */
    #toTop{
        border-radius: 25px;
        background-image:white ;
        color: black;
        height: 3.5%;
        width: 5.5%;
    }
    .startEmojis{
        font-size: 2em;
    }
    #res-link{
        text-decoration: none;
        color: grey;
    }
    #res-link:visited{
        text-decoration: none;
        color: grey;
    }
    .res-bull{
        list-style-position: inside;
    }
    .resume h1{
       font-size: 2em;
    }
    /* Images */
    #trumpet-pic{
        height: 100vh;
        width: 100vw;
        max-width:100vw;
    }
    .splash-intro{
        position: relative;
        overflow: hidden;
        background-color: #252422;
    }
    #intro-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: black;
        color: white;
        padding: 2.5% 8%;
        font-size: 2.5em;
    }
    .typedText{
        display: inline-block;
    }
    #tommyXlone{
        max-width: 100%;
        width:100%;
        height: 100%;
    }
    #lone-pro{
        max-width: 100%;
        width:100%;
        height: 100%;
    }
    .techLogos{
        display: inline-block;
        width: 12em;
    }
    .resume h3{
        padding: 0 0 .6% 0;
    }
    #res-line{
        border: 2px solid #FFBF00;
    }
    .res-sec{
        text-decoration: underline #FFBF00;
        padding-bottom: 1%;
    }
    .goalItem{
        color: white;
        padding: 1.2em .8em;
        break-inside: avoid;
        text-decoration: underline #FFBF00;
        background-color: #252422;
        margin-bottom: 3%;
    }
    .goalCols{
        columns: 3 2.5em;
        padding: 1.2em;
    }
    
    /*Animations Css*/
    .slideinAnimate{
        animation: slidein 1.2s;
    }
    .slideinAnimateR{
        animation: slideinR 1.2s;
    }
    @keyframes slidein {
        from {
            margin-left: 150%;
          }
          to {
            margin-left: 0%;
          }
    }
    @keyframes slideinR {
        from {
            margin-right: 150%;
          }
          to {
            margin-right: 0%;
          }
    }
    /*Media query */
    @media screen and ( max-width: 480px){
        .intro-container{
            display: flex;
            flex-direction: column ;
        }
    }